span.stars, span.stars span {background: rgba(0, 0, 0, 0) url("../../images/front/star.png") repeat-x scroll 0 -19px; color: transparent; display: inline-block; height: 20px;
    width: 101px;}
span.stars span {background-position: 0 0;}